<%= form_with(model: [ post, Comment.new ]) do |form| %>

    <h4>Comment</h4>
    <%= form.text_area :content, class:"form-control" %>
    <div class="mt-3">
        <%= form.submit "Submit", class:"btn btn-outline-primary" %>
    </div>
<% end %>