<nav class='navbar bg-light navbar-fixed-top'>
  <div class="container-fluid">
    <%= link_to "Blog on Rails", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link px-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Post", new_post_path, class: "nav-link px-3" %>
        </li>
      </ul>
  </div>
</nav>
  